.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  position: relative;
  top: -60px;
}

.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button:before {
  background-color: white;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
.slick-prev::before,
.slick-next::before {
  color: transparent;
}

@media (max-width: 420px) {
  .slick-dots li button:before {
    content: "";
    width: 7px;
    height: 7px;
  }
}
